ul, li {
	list-style: none;
	padding: 0;
    margin: 0;
}
body {
	background: #f8f8f8f8;
}
.header {
	padding-top: 100px;
}
.main-title {
	margin: 0;
}
.main-section {
	padding: 100px 0 120px 0;
}
.breadcrumbs {
	margin-bottom: 30px;
}
.radio_button {
	opacity: 0;
	position: absolute;
}
.radio_button + label {
	position: relative;
	height: 30px;
	background: #fff;
	padding: 0 0 0 30px;
	border-radius: 50%;
	margin-bottom: -3px; 
	box-shadow: 0 0 0 2px #c4092f;
	cursor: pointer;
	transition: .2s ease;
}
.radio_button + label:hover {
	background: #ffe5e5;
	transition: .2s ease;
}
.radio_button:checked + label {
	box-shadow: 
	0 0 0 3px #296a91,
	inset 0px 0 0 9px #c4092f
	;
	transition: .2s ease;
}
.radio-text {
    display: inline-block;
    margin: 0 0 16px 8px;
    vertical-align: super;
}
.radios-wrap {
	margin-bottom: 50px;
	height: 210px;
}
.radio-wrap {
	margin-bottom: 20px;
}
.quiz__question-text {
	margin-bottom: 30px;
}
.quiz__question, .radios-wrap {
	margin-left: 30px;
}

/*Breadcrumbs*/

.breadcrumb {
	padding: 4px 15px 7px 30px;
	border-radius: 0;
	background: none;
	position: relative;
}

.breadcrumbs a {
	text-decoration: none;
	color: #282d30;
	font-size: 1.1rem;
}
.breadcrumbs__element {
	display: inline-block;
	position: relative;
	margin-bottom: 3px;
	height: 37px;
	border: 1px solid #dddddd;
	background: #fff;
}
.breadcrumbs__element:focus {

}
.breadcrumbs__element::before {
	position: absolute;
	content: '';
	top: 1px;
	right: -17px;
	width: 33px;
	height: 33px;
	background: #fff;
	transform: rotate(-45deg) scale(0.75);
	z-index: 1;
	box-shadow: 2px 2px 0 1px #dddddd;
	border-radius: 50px 0 0 0;
}
.breadcrumbs__element:last-child,
.breadcrumbs__element:last-child::before {
	background: #296a91!important;
}
.breadcrumbs__element:hover,
.breadcrumbs__element:hover::before {
	background: #f1c40f;
}
.breadcrumbs__element:hover > a {
	color: #fff;
}

.breadcrumbs__element:last-child a {
	color: #fff;
}

/*Buttons*/
.button {
	width: 120px;
	color: #fff;
	background: #c4092f;
	text-align: center;
	outline: none;
	cursor: pointer;
	line-height: 30px;
	border-style: none;
	transition: .1s linear;
	position: relative;
}
.button:focus {
	outline: none;
}
.button:hover {
	box-shadow:
	inset 120px 0px 0 0px #296a91,
	0 0 11px -4px #000;
}
.button:nth-child(2n + 1) {
	margin-left: 20px;
}
.button:disabled {
	opacity: 0.6;
	cursor: default;
}
.button:disabled:hover {
	box-shadow:	none;
}
